@import "~@client/views/styles.mixins.scss";
@import "~@client/views/styles.devices.scss";

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .navBox {
    margin-left: 0.8em;
    display: flex;
    align-items: center;
  }
}
