$mobile-width: auto;
$mobile-max-width: 767px;

$tablet-width: 723px;
$tablet-min-width: 768px;
$tablet-max-width: 991px;

$laptop-width: 933px;
$laptop-min-width: 992px;
$laptop-max-width: 1199px;

$desktop-width: 1127px;
$desktop-min-width: 1200px;
