$header-color: #425a70;
$header-color-light: #f9f9f9;

$text-color: #425a70;
$text-color-light: #f9f9f9;

$cloud-tint: rgb(249, 249, 251);
$grey-tint: rgb(245, 246, 247);
$yellow-tint: rgb(254, 248, 231);
$green-tint: rgb(241, 250, 245);
$orange-tint: rgb(253, 248, 243);
$red-tint: rgb(254, 246, 246);
$blue-tint: rgb(247, 249, 253);
$purple-tint: rgb(248, 247, 252);
$teal-tint: rgb(241, 251, 252);
