@import "~@client/views/styles.devices.scss";

.main {
  border-bottom: 1px solid rgb(237, 240, 242);
}

.container {
  height: 100%;
  display: grid !important;
  grid-template-columns: auto 78%;
  grid-template-rows: 100%;
  align-items: center;

  @media only screen and (max-width: $mobile-max-width) {
    grid-template-columns: 100%;
  }
}

.logo {
  @media only screen and (max-width: $mobile-max-width) {
    display: none;
  }
}
