@import "~@client/views/styles.devices.scss";

.container {
  height: 100%;
  display: grid !important;
  grid-template-columns: auto 78%;
  grid-template-rows: 100%;
  align-items: center;
}

.logo {
  @media only screen and (max-width: $mobile-max-width) {
    display: none;
  }
}
