<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <%= htmlWebpackPlugin.options.vars.metas %>

    <%= htmlWebpackPlugin.options.vars.links %>

    <%= htmlWebpackPlugin.options.vars.styles %>

    <style>html,body,#<%= htmlWebpackPlugin.options.vars.mountPointID %>{width:100%;height:100%;}</style>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div id="<%= htmlWebpackPlugin.options.vars.mountPointID %>"><%= htmlWebpackPlugin.options.vars.app %></div>

    <script>window._INITIAL_STATE_ = <%= htmlWebpackPlugin.options.vars.initialState %>;</script>

    <%= htmlWebpackPlugin.options.vars.scripts %>
  </body>
</html>
