# ----------------------------------------------------------------------------------------------------------------------
# General
# ----------------------------------------------------------------------------------------------------------------------

# thumbnails
Thumbs.db

# compressed assets
*.br
*.gz
*.zip
*.tar

# env variable files
.env*
*.env
!.env.example

# TLS/SSL keys and certs
*.key
*.pem
*.cert

# ----------------------------------------------------------------------------------------------------------------------
# IDE Settings
# ----------------------------------------------------------------------------------------------------------------------

# Jetbrains IDEs
.idea/

# Visual Studio IDE
.vs/

# VSCode Text Editor
# .vscode/

# VIM Editor
*.swp
*.swo

# * TODO plugins
.todo

# ----------------------------------------------------------------------------------------------------------------------
# OS Specifics
# ----------------------------------------------------------------------------------------------------------------------

# MacOS
.DS_Store
.localized

# Windows
Desktop.ini

# ----------------------------------------------------------------------------------------------------------------------
# Generated
# ----------------------------------------------------------------------------------------------------------------------

# Compiled/transpiled assets
**/lib/*
!**/lib/.gitkeep
**/dist/*
!**/dist/.gitkeep
**/build/*
!**/build/.gitkeep

# Caches
.cache

# generated logs
*.log

# generated reports for e.g. test coverage, container-scanning, deps auditing
.coverage/
.reports/coverage/*
!.reports/coverage/.gitkeep

# generated binaries
.bin/*
!.bin/.gitkeep

# ----------------------------------------------------------------------------------------------------------------------
# Language/Framework/Tool Specifics
# ----------------------------------------------------------------------------------------------------------------------

# [JS] Node Modules
node_modules/

# [JS] Lerna NPM Module lock file
package.json.lerna_backup

# [TERRAFORM] Providers + plugins
.terraform/

# [TERRAFORM] Infra state files                                      *SENSITIVE*
*.tfstate
*.tfstate.backup
terraform.tfstate.d/

# [TERRAFORM] Auto-loaded env variable files                         *SENSITIVE*
*.tfvars

# [BAZEL] Generated output symlinks
bazel-*

# ----------------------------------------------------------------------------------------------------------------------
# Project Specific
# ----------------------------------------------------------------------------------------------------------------------

.state/

.personal
