@import "~@client/views/styles.dimens";

.main {
  min-height: 100%;
  display: grid;
  grid-template-rows: $app-header-height auto $app-footer-height;
  grid-template-columns: 100%;

  a {
    text-decoration: none;
  }
}
