.main {
  height: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navs {
  background-color: inherit;
}

.dropdownHeader {
  cursor: pointer;
}

.avatarPlaceholder {
  border-radius: 50%;
  border: 1px solid #ddd;
}
