.main {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navs {
  background-color: inherit;
}

.userdropdown {
}

.dropdownHeader {
  cursor: pointer;
}
