@import "~@client/views/styles.mixins.scss";

.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #130f40;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;

  h1 {
    @include fp(font-size, 50, 100);
  }

  p {
    @include fp(font-size, 20, 40);
    font-weight: 400;
  }
}
