@import "~@client/views/styles.mixins.scss";

.main {
  background-color: inherit;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: inherit;
  // @include fp(min-width, 300, 420);
  // @include fp(min-height, 300, 420);
}

.header {
  padding: 1em 1.7em !important;
  text-align: center;

  & h1 {
    font-weight: 400;
  }
}

.content {
  // @include fp(padding, 8, 14);
}
