@import "~@client/views/styles.dimens.scss";

.main {
  height: 100%;
}

.transitionWrapper {
  height: 100%;
  position: relative;
}

.routeAppear {
  // ...
}

.routeAppear.routeAppearActive {
  .routeContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.routeEnter {
  opacity: 0.01;
}

.routeEnter.routeEnterActive {
  opacity: 1;
  transition: opacity 310ms ease-in;

  .routeContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.routeExit {
  opacity: 1;
}

.routeExit.routeExitActive {
  opacity: 0.01;
  transition: opacity 310ms ease-in;

  .routeContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.routeContainer {
  height: 100%;

  & > div {
    height: 100%;
  }
}
