name = "[ORG_NAME]"

aws_region = "[AWS_REGION]"

aws_access_key = "[AWS_ACCESS_KEY_ID]"

aws_secret_key = "[AWS_SECRET_ACCESS_KEY]"

gitlab_access_token = "[GITLAB_ACCESS_TOKEN]"

ops_conf = {
  bastion = {
    aws_region   = "[AWS_REGION]"
    aws_role_arn = "arn:aws:iam::[AWS_ACCOUNT_ID]:role/OrganizationAccountAccessRole"
  }

  audit = {
    aws_region   = "[AWS_REGION]"
    aws_role_arn = "arn:aws:iam::[AWS_ACCOUNT_ID]:role/OrganizationAccountAccessRole"
  }

  delivery = {
    aws_region   = "[AWS_REGION]"
    aws_role_arn = "arn:aws:iam::[AWS_ACCOUNT_ID]:role/OrganizationAccountAccessRole"
  }
}

envs_conf = {
  dev = {
    aws_region   = "[AWS_REGION]"
    aws_role_arn = "arn:aws:iam::[AWS_ACCOUNT_ID]:role/OrganizationAccountAccessRole"
  }

  test = {
    aws_region   = "[AWS_REGION]"
    aws_role_arn = "arn:aws:iam::[AWS_ACCOUNT_ID]:role/OrganizationAccountAccessRole"
  }

  stage = {
    aws_region   = "[AWS_REGION]"
    aws_role_arn = "arn:aws:iam::[AWS_ACCOUNT_ID]:role/OrganizationAccountAccessRole"
  }

  prod = {
    aws_region   = "[AWS_REGION]"
    aws_role_arn = "arn:aws:iam::[AWS_ACCOUNT_ID]:role/OrganizationAccountAccessRole"
  }
}

runtimes = [
  {
    name         = "sbox"
    full_name    = "sandbox"
    description  = "Long-lived runtime for non-local integrated development environment or experimenting purposes."
    env          = "dev"
    phase        = 1
    long_running = true
  },
  {
    name         = "sit"
    full_name    = "system_integration"
    description  = "Short-lived runtime for automated system integration testing."
    env          = "test"
    phase        = 2
    long_running = false
  },
  {
    name         = "e2e"
    full_name    = "end_to_end"
    description  = "Short-lived runtime for automated end-to-end testing."
    env          = "test"
    phase        = 3
    long_running = false
  },
  {
    name         = "perft"
    full_name    = "performance"
    description  = "Short-lived runtime for load and stress testing et al. Resides in staging env for consistency of results."
    env          = "stage"
    phase        = 4
    long_running = false
  },
  {
    name         = "uat"
    full_name    = "user_acceptance"
    description  = "Long-lived runtime for non-automated user acceptance testing by QA team or for demo purposes."
    env          = "stage"
    phase        = 4
    long_running = true
  },
  {
    name         = "live"
    full_name    = "live"
    description  = "The live runtime itself."
    env          = "prod"
    phase        = 5
    long_running = true
  },
]
