@import "~@client/views/styles.dimens.scss";
@import "~@client/views/styles.colors.scss";
@import "~@client/views/routes/SplashScreen/component.styles.scss";

.main {
  height: calc(100vh - #{$name-dropper-height} - #{$app-header-height});
  background-color: #143954;
}

.container {
  height: 100% !important;
}

.canvas {
  padding: 2em 0;
  height: 100% !important;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 70%;
}

.leftPane {
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h1 {
    font-size: 35px;
    color: $header-color-light;
    margin-bottom: 1.3em;
  }
}

.rightPane {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fluff {
  margin-top: 1em;
}
