@import "~@client/views/styles.dimens.scss";

.main {
  position: absolute;
  top: $app-header-height + 9px;
  left: 0;
  right: 0;
  z-index: 999;
  margin-left: 12px;
  margin-right: 12px;
}

.container {
  background-color: inherit;
}
