@import "~@client/views/styles.dimens.scss";

.main {
  height: $app-footer-height;
}

.container {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
