@import "~@client/views/styles.dimens.scss";

.main {
  height: $app-footer-height;
  width: 100%;
}

.container {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
